
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;

}


button {
  background-color: yellow; 
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
 
}



.center {
  display: flex;
  align-items: center;
  justify-content: center;
}




